<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>EzJAM</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
  <!-- 이하 상단 부분 -->
  <div class="main-title">
    <a href="/">
      <img width="120" height="100" src="static/logos/main_logo.png">
    </a>
  </div>
  <!-- 로그인/회원가입 버튼 부분 -->
  {% if not loginInfo %}
  <div class="buttons">
    <button id="login-button" onclick="location.href='/login'">로그인</button>
    <button id="signup-button" onclick="location.href='/signup'">회원가입</button>
  </div>
  {% endif %}
  {% if loginInfo %}
  <div class="buttons">
    <span>환영합니다! {{loginInfo}} 님!  </span>
    <button id="logout-button" onclick="location.href='/logout'">로그아웃</button>
  </div>
  {% endif %}
  <br>
  <!-- 이하 네비게이션 바 부분 -->
  <div class="navbar">
    <a href="/notice">공지사항</a>
    <a href="/community">자유게시판</a>
    <a href="/rank">랭킹</a>
    <a href="/event">이벤트 일정</a>
    <!--
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> -->
  </div>
  <!-- 이하 -->
  <br><br><br>
  <button onclick="location.href='/game'">게임 시작(테스트)</button>
</body>
</html>
