<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
    <title>EzJam 공지사항</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/community.css">
</head>
<body>  
    <div class="main-title">
      <a href="/">
        <img width="120" height="100" src="static/logos/main_logo.png">
      </a>
    </div>
    {% if not loginInfo %}
    <div class="buttons">
      <button id="login-button" onclick="location.href='/login'">로그인</button>
      <button id="signup-button" onclick="location.href='/signup'">회원가입</button>
    </div>
    {% endif %}
    {% if loginInfo %}
    <div class="buttons">
      <span>환영합니다! {{loginInfo}} 님!  </span>
      <button id="logout-button" onclick="location.href='/logout'">로그아웃</button>
    </div>
    {% endif %}
    <br>
    <div class="navbar">
      <a href="/notice">공지사항</a>
      <a href="/community">자유게시판</a>
      <a href="/rank">랭킹</a>
      <a href="/event">이벤트 일정</a>
    </div>
    <div class="main-content">
        <div class="container">
            <br>
            <h1><strong><a style="color:#4CAF50;">공지사항</a></strong></h1>
            <div class='button-container'>
              {% if isUserAdmin == True %}
              <button id='upload-button' onclick="location.href='/write_notice'">공지 작성(관리자 전용)</button>
              {% endif %}
              <form action="" method="GET">
                <input id="search-string" type="text" name="search" value="{{ search_query }}">
                <input type="submit" value="검색">
              </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>공지 번호</th>
                        <th style='width: 70%;'>제목</th>
                        <th>작성시각</th>
                    </tr>
                </thead>
                <tbody>
                    {% for not_item in notice %}
                        <tr>
                            <td>{{ not_item[0] }}</td>
                            <td><a style="color:#110957;" href="/post_notice/{{ not_item[0] }}">{{ not_item[1] }}</a></td>
                            <td>{{ not_item[2].strftime('%H:%M') }}&nbsp;&nbsp;&nbsp;&nbsp;{{ not_item[2].strftime('%m/%d') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}&search={{ search_query }}">&#60;&#60; 이전 페이지   </a>
        {% endif %}
        
        {% if page < total_pages %}
            <a href="?page={{ page + 1 }}&search={{ search_query }}">   다음 페이지 &#62;&#62;</a>
        {% endif %}
    </div>
</body>
</html>
